<nav class="bg-gray-800 py-4">
    <div class="container mx-auto px-4">
        <h1 class="text-2xl font-bold">Rickyflix</h1>
    </div>
</nav>

<div class="container mx-auto px-4 py-8">
    <div class="text-center">
        <h2 class="text-4xl font-bold mb-4">Rick and Morty</h2>
        <p class="text-lg mb-8">Una serie llena de aventuras intergalácticas y locuras.</p>
    </div>

    <div class="grid grid-cols-5 gap-4">
        <div class="bg-gray-800 hover:bg-gray-700 cursor-pointer flex rounded-lg overflow-hidden">
            <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="Rick and Morty" class="h-20">
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Temporada 1</h3>
            </div>
        </div>
        <div class="bg-gray-800 hover:bg-gray-700 cursor-pointer flex rounded-lg overflow-hidden">
            <img src="https://rickandmortyapi.com/api/character/avatar/2.jpeg" alt="Rick and Morty" class="h-20">
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Temporada 2</h3>
            </div>
        </div>
        <div class="bg-gray-800 hover:bg-gray-700 cursor-pointer flex rounded-lg overflow-hidden">
            <img src="https://rickandmortyapi.com/api/character/avatar/3.jpeg" alt="Rick and Morty" class="h-20">
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Temporada 3</h3>
            </div>
        </div>
        <div class="bg-gray-800 hover:bg-gray-700 cursor-pointer flex rounded-lg overflow-hidden">
            <img src="https://rickandmortyapi.com/api/character/avatar/4.jpeg" alt="Rick and Morty" class="h-20">
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Temporada 4</h3>
            </div>
        </div>
        <div class="bg-gray-800 hover:bg-gray-700 cursor-pointer flex rounded-lg overflow-hidden">
            <img src="https://rickandmortyapi.com/api/character/avatar/5.jpeg" alt="Rick and Morty" class="h-20">
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Temporada 5</h3>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-7 gap-4 mt-10">
        <a href="./episode.html" class="bg-gray-800 rounded-lg overflow-hidden block">
            <div class="h-64 overflow-hidden">
                <img src="./S01.webp" alt="Episodio 1" class="object-cover w-full h-full">
            </div>
            <div class="p-4">
                <h2 class="text-lg font-bold mb-2">Episodio 1</h2>
                <p class="text-sm">Descripción corta del episodio 1.</p>
            </div>
        </a>
        <div class="bg-gray-800 rounded-lg overflow-hidden">
            <div class="h-80 object-cover overflow-hidden">
                <img src="./S02.webp" alt="Rick and Morty" class="object-contain">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Episodio 01</h3>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden">
            <div class="h-80 object-cover overflow-hidden">
                <img src="./S02.webp" alt="Rick and Morty" class="object-contain">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Episodio 01</h3>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden">
            <div class="h-80 object-cover overflow-hidden">
                <img src="./S02.webp" alt="Rick and Morty" class="object-contain">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Episodio 01</h3>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden">
            <div class="h-80 object-cover overflow-hidden">
                <img src="./S02.webp" alt="Rick and Morty" class="object-contain">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Episodio 01</h3>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden">
            <div class="h-80 object-cover overflow-hidden">
                <img src="./S02.webp" alt="Rick and Morty" class="object-contain">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Episodio 01</h3>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden">
            <div class="h-80 object-cover overflow-hidden">
                <img src="./S02.webp" alt="Rick and Morty" class="object-contain">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Episodio 01</h3>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden">
            <div class="h-80 object-cover overflow-hidden">
                <img src="./S02.webp" alt="Rick and Morty" class="object-contain">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold mb-2">Episodio 01</h3>
            </div>
        </div>
    </div>
</div>